<div class="panel panel-default">
  <div class="hero-text">
      <p>Fernando Saibene</p>
      <a href="https://github.com/fsaibene"target="_blank">en GitHub <i class="fa fa-github"></i></a>
      <a  href="http://fsaibene.esy.es/fsaibene/" >Quien Soy? <i class="fa fa-user"></i></a>
  </div>
    <div class=" login-container">
        <button class="btn btn-primary" routerLink="/Registro">Registrarse</button>
        <button class="btn btn-primary btn-success" routerLink="/Login">Ingresar</button>
    </div>
</div>
